Repository cloudandculture-co/candc-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudandculture/developers, @cloudandculture/frontend, @cloudandculture/backend, @cloudandculture/devops, @cloudandculture/platform, @cloudandculture/technical-writers

Add .gitignore
  .gitignore
Owners: @cloudandculture/developers

Add .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @cloudandculture/technical-writers

phone number and companies house
  public/about.html
  public/contact.html
  public/images/demo.jpg
  public/index.html
  public/support.html
Owners: @cloudandculture/developers

Add .github/config/dependency-graph.json
  .github/config/dependency-graph.json
Owners: @cloudandculture/devops

Add .github/config/module-metadata.json
  .github/config/module-metadata.json
Owners: @cloudandculture/devops

remove mobile
  public/about.html
  public/contact.html
  public/docs/Cloud-And-Culture-Privacy-Policy-2025-04-06.pdf
  public/docs/Cloud-And-Culture-Privacy-Policy-2025-12-06.pdf
  public/docs/Terms-and-Conditions-5th-April-2025.pdf
  public/index.html
Owners: @cloudandculture/developers, @cloudandculture/technical-writers

initial
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/package-lock.json
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/assets/css/theme.css
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/assets/css/theme.css.map
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/assets/css/theme.min.css
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/assets/css/theme.min.css.map
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/demo-one-page.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/demo-rtl.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/demo-single-course.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/footer-1.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/index.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/page-about-modern.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/page-about.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/page-account-signin.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/page-account-signup.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/page-career-single.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/page-careers.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/page-contact-us-1.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/page-faq.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/page-knowladge-base.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/page-misc-error-404.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/page-misc-policy.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/page-misc-success-message.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/page-pricing.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/page-profile-settings.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/page-profile.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/public/page-team.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/src/html/index.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/src/html/page-team.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/src/html/partials/footers/footer-1.html
  newtheme/assan_multipurpose_template_v5.6/bootstrap/main/src/scss/custom/variables/_variables.scss
  public/support.html
Owners: @cloudandculture/developers, @cloudandculture/frontend

.github/CODEOWNERS:

# Global owners
* @cloudandculture/developers

# Frontend specific
*.tsx @cloudandculture/frontend
*.jsx @cloudandculture/frontend
*.css @cloudandculture/frontend
*.scss @cloudandculture/frontend

# Backend specific
*.go @cloudandculture/backend
*.py @cloudandculture/backend
*.java @cloudandculture/backend

# Infrastructure
terraform/ @cloudandculture/devops
*.tf @cloudandculture/devops
k8s/ @cloudandculture/platform
kubernetes/ @cloudandculture/platform

# CI/CD
.github/ @cloudandculture/devops
.gitlab-ci.yml @cloudandculture/devops
Jenkinsfile @cloudandculture/devops

# Documentation
docs/ @cloudandculture/technical-writers
*.md @cloudandculture/technical-writers
